# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [ ]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [14]:
# your code here
lst_df = pd.DataFrame(lst)
lst_df

      0
0   5.7
1  75.2
2  74.4
3  84.0
4  66.5
5  66.3
6  55.8
7  75.7
8  29.1
9  43.7

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [21]:
# your code here
lst_df.values[3]

array([84.])

In [22]:
lst_df.iloc[3]

0    84.0
Name: 3, dtype: float64

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [24]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [43]:
# your code here

b_df = pd.DataFrame(b)

b_df.head()

b_df

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [29]:
# your code here
b_df.columns = ["First", "Second", "Third", "Forth", "Fith"] 
b_df.head()

   First  Second  Third  Forth  Fith
0   53.1    95.0   67.5   35.0  78.4
1   61.3    40.8   30.8   37.8  87.6
2   20.6    73.2   44.2   14.6  91.8
3   57.4     0.1   96.1    4.2  69.5
4   83.6    20.5   85.4   22.8  35.9

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [38]:
# your code here

subset = b_df.loc[[1,3]]
subset.head()

   First  Second  Third  Forth  Fith
1   61.3    40.8   30.8   37.8  87.6
3   57.4     0.1   96.1    4.2  69.5

### 7. From the original data frame, calculate the average Score_3 value.

In [41]:
# your code here
b_df["Third"].mean

<bound method Series.mean of 0    67.5
1    30.8
2    44.2
3    96.1
4    85.4
5     0.1
6    95.0
7    53.8
8    53.4
9    43.2
Name: Third, dtype: float64>

### 8. From the original data frame, calculate the maximum Score_4 value.

In [58]:
# your code here

b_df.iloc[:, 4].max()

np.float64(91.8)

In [53]:
b_df

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 9. From the original data frame, calculate the median Score 2 value.

In [59]:
# your code here
b_df.iloc[:, 2].mean()

np.float64(56.95000000000001)

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [61]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [63]:
# your code here
orders_df = pd.DataFrame(orders)

orders_df.head()

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [69]:
# your code here
total_quantity = orders_df["Quantity"].sum()
print(total_quantity)

2978

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [75]:
# your code here
most_expensive_item = orders_df["UnitPrice"].max()
least_expensive_item = orders_df["UnitPrice"].min()
diference = most_expensive_item - least_expensive_item

print(f"Most expensive item costs {most_expensive_item}€")
print(f"Least expensive item costs {least_expensive_item}€")
print(f"Difference is {diference}€")

Most expensive item costs 11.95€
Least expensive item costs 0.18€
Difference is 11.77€

## Let's load another dataset for more exercisesº

In [77]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')

Let's evaluate the dataset by looking at the `head` function.

In [78]:
# your code here
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [81]:
# your code here
missing_values = pd.isnull(admissions)
count_missing_values = missing_values.sum()
print(count_missing_values)

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our ind

ex. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [89]:
# your code here
admissions = admissions.set_index("Serial No.", drop=False)

admissions.index.name = "index"

admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
index,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [96]:
# your code here

CGPA_greater9_Investigation_performed = admissions[admissions["CGPA"]> 9][admissions["Research"]>0]
CGPA_greater9_Investigation_performed.info()
CGPA_greater9_Investigation_performed.head()

<class 'pandas.core.frame.DataFrame'>
Index: 101 entries, 1 to 385
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         101 non-null    int64
 1   GRE Score          101 non-null    int64
 2   TOEFL Score        101 non-null    int64
 3   University Rating  101 non-null    int64
 4   SOP                101 non-null    float64
 5   LOR                101 non-null    float64
 6   CGPA               101 non-null    float64
 7   Research           101 non-null    int64
 8   Chance of Admit    101 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 7.9 KB

C:\Users\fee10\AppData\Local\Temp\ipykernel_13976\2692723310.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  CGPA_greater9_Investigation_performed = admissions[admissions["CGPA"]> 9][admissions["Research"]>0]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
index,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
5,5,330,115,5,4.5,3.0,9.34,1,0.90
11,11,328,112,4,4.0,4.5,9.10,1,0.78
20,20,328,116,5,5.0,5.0,9.50,1,0.94
21,21,334,119,5,5.0,4.5,9.70,1,0.95

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [105]:
# your code here
CGPA_greater9_SOP_less3 = admissions[admissions["CGPA"]> 9][admissions["SOP"]<3.5]
CGPA_greater9_SOP_less3.head()

C:\Users\fee10\AppData\Local\Temp\ipykernel_13976\2339401061.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  CGPA_greater9_SOP_less3 = admissions[admissions["CGPA"]> 9][admissions["SOP"]<3.5]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
index,,,,,,,,,
29,29,338,118,4,3.0,4.5,9.40,1,0.91
63,63,327,114,3,3.0,3.0,9.02,0,0.61
141,141,326,114,3,3.0,3.0,9.11,1,0.83
218,218,324,111,4,3.0,3.0,9.01,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84

In [108]:
mean_chance_admit = CGPA_greater9_SOP_less3["Chance of Admit"].mean()
print(mean_chance_admit)

KeyError: 'Chance of Admit'